<launch>
  <arg name="camera_ns" default="/realsense_front" />
  <arg name="detection_id_increment" default="20"/>
  <arg name="detection_id_offset" default="7"/>
  <group ns="$(arg camera_ns)">
    <node name="person_reid" pkg="person_tracking" type="person_tracker.py" output="screen">
      <remap from="~image" to="$(arg camera_ns)/color/image_raw/compressed" />
      <remap from="~points" to="$(arg camera_ns)/depth_registered/points" />
      <param name="REID_CKPT" type="string" value="$(find person_tracking)/src/weights/model.pth.tar-100" />
      <rosparam file="$(find person_tracking)/configs/deep_sort.yaml" />
      <param name="detection_id_increment" value="$(arg detection_id_increment)"/>
      <param name="detection_id_offset" value="$(arg detection_id_offset)"/>
    </node>
  </group>
  

</launch>
